.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  position: fixed;
  overflow: auto;
}


.navbar a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #007bff;
}


.content {
  margin-left: 300px;
}


