__pycache__/

.vscode/
.idea/
.ruff_cache/
.DS_Store

# 忽略特定文件
backup.yaml
config.ini
config.yaml
config_cps.yaml

data/

logs/

.sqllsrc.json
assets/games/tictactoe/gaming_board.png

configweb/src/config.js
