# 微信机器人配置文件
# 配置文件示例: https://www.github.com/Cassius0924/WeChatBot


[wechatter]
# 微信机器人服务的端口，接收消息的端口，RECV_MSG_API的端口（<<4000>>）
wechatter_port = 4000


[wx-bot-webhook]
# 发送消息的端口，wxBotWebhook Docker 的端口（<<3001>>）
wx_webhook_port = 3001
# 接收消息的接口路径，RECV_MSG_API的路径（<</receive_msg>>）
wx_webhook_recv_api_path = /receive_msg


[admin]
# 微信管理员，用于接收机器人的报警信息和登录登出信息
# 填入微信名称（不是微信号，也不是微信备注）
admin_list = ["文件传输助手", "AdminName"]
# 填入微信群名称（不是群备注）
admin_group_list = ["AdminGroupName"]


[bot]
# 机器人的微信名称（不是微信号，不带引号）
bot_name = BotName


[chat]
# 命令前缀，用于区分命令和普通消息（<</>>）
command_prefix = /
# 群消息命令是否需要@机器人才能触发（<<True>>/False）
need_mentioned = True


[copilot-gpt4]
# Copilot GPT4 服务的 API 地址，必须包含http(s)://（<<http://localhost>>）
cp_gpt4_api_host = http://localhost
# Copilot GPT4 服务的端口（<<999>>）
cp_gpt4_port = 999
# Copilot 的 Token
cp_token = ghu_your_token


[github-webhook]
# 是否接收 GitHub Webhook （True/<<False>>）
github_webhook_enabled = True
# 接收 GitHub Webhook 的接口路径（<</webhook/github>>）
github_webhook_api_path = /webhook/github
# 接收 GitHub Webhook 的微信用户
github_webhook_receiver_list = []
# 接收 GitHub Webhook 的微信群
github_webhook_receive_group_list = []


[message-forward]
# 微信消息转发给其他微信用户
# 是否开启消息转发（True/<<False>>）
message_forwarding_enabled = True
# 消息转发规则列表（JSON格式）
# 每个规则是一个字典，包含三个字段：froms, to_persons, to_groups
# froms: 消息转发来源列表，即消息发送者（们）的微信名称（用户或群）
# to_persons: 消息转发目标用户列表，即消息接收者（们）的微信名称（仅用户）
# to_groups: 消息转发目标群列表，即（多个）消息接收群名称（仅群）
message_forwarding_rules = [
    {
        "froms": ["SenderName", "SenderGroupName"],
        "to_persons": ["ReceiverName1", "ReceiverName2"],
        "to_groups": ["ReceiverGroupName"]
    },
    {
        "froms": ["小A"],
        "to_persons": ["小B"],
        "to_groups": ["小C"]
    }]
