# 微信机器人配置文件
# 配置说明：https://github.com/Cassius0924/WeChatter?tab=readme-ov-file#%E9%85%8D%E7%BD%AE%E6%96%87%E4%BB%B6


# Wechatter
wechatter_port: 4000


# WX Webhook
wx_webhook_base_api: http://localhost:3001
wx_webhook_recv_api_path: /receive_msg
wx_webhook_token: "your_wx_webhook_token"


# Admin
admin_list: [ "文件传输助手", "AdminName" ]
admin_group_list: [ "AdminGroupName" ]
bark_url:


# Bot
bot_name: Cassius


# Chat
command_prefix: /
need_mentioned: False
ban_person_list: [ ]
ban_group_list: [ ]


# LLM
llms:
  spark:
    api_url: https://spark-api-open.xf-yun.com/v1/chat/completions
    token: your_spark_token
    model: 4.0Ultra
  grok:
    api_url: https://api.x.ai/v1/chat/completions
    token: your_grok_token
    model: grok-beta
  gpt4:
    api_url: https://api.openai.com/v1/chat/completions
    token: your_openai_token
    model: gpt-4



# GitHub Webhook
github_webhook_enabled: True
github_webhook_api_path: /webhook/github
github_webhook_receive_person_list: [ ]
github_webhook_receive_group_list: [ ]


# Message Forwarding：消息转发
message_forwarding_enabled: False
message_forwarding_rule_list:
  - from_list: [ "%ALL" ]
    from_list_exclude: [ "You" ]
    to_person_list: [ "You" ]
    to_group_list: [ ]
  - from_list: [ "Jay", "Tom" ]
    to_person_list: [ "Cassius" ]
    to_group_list: [ "Team" ]


# 公众号消息提醒
official_account_reminder_enabled: True
official_account_reminder_rule_list:
  - oa_name_list: [ "央视新闻", "人民日报" ]
    to_person_list: [ "You" ]
    to_group_list: [ "Team" ]


# Task Cron：定时任务
# 配置说明：https://github.com/Cassius0924/WeChatter/blob/master/docs/task_cron_config_detail.md
all_task_cron_enabled: True
task_cron_list:
  - task: "每天早上8点发送天气预报和知乎热搜"
    enabled: True
    cron:
      hour: "8"
      minute: "0"
      second: "0"
      timezone: "Asia/Shanghai"
    commands:
      - cmd: "weather"
        args: [ "广州" ]
        to_person_list: [ "You" ]
      - cmd: "zhihu-hot"
        to_group_list: [ "Team" ]


# Custom Command Key: 自定义命令关键词
# 配置说明：https://github.com/Cassius0924/WeChatter/blob/master/docs/custom_command_key_config_detail.md
custom_command_key_dict:
  gpt4: [ ">" ]
  bili-hot: [ "bh" ]
  play: [ "p" ]
  weather: [ "w", "温度" ]


# Discord Message Forwarding：Discord 消息转发
discord_message_forwarding_enabled: False
discord_message_forwarding_rule_list:
  - from_list: [ "%ALL" ]
    from_list_exclude: [ "" ]
    webhook_url: "your_discord_webhook_url"


# GPT Mode Person
gpt_mode_person_list: [ ]
gpt_mode_model: "gpt4"
