python-multipart==0.0.6
requests==2.31.0
fastapi==0.108.0
uvicorn==0.25.0
langid==1.1.6
BeautifulSoup4==4.11.2
qrcode==7.4.2
Pillow~=10.1.0
bs4~=0.0.1
apscheduler==3.10.4
pre-commit==3.5.0
loguru==0.7.2
tenacity==8.2.3
pydantic==2.5.3
sqlalchemy==2.0.25
PyYAML==6.0
ruamel.yaml==0.18.6
